<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>webap</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
           <param-name>company name</param-name>
           <param-value>UST</param-value>
  </context-param>
  <servlet>
      <servlet-name>firstServlet</servlet-name>
      <servlet-class>com.ustglobal.webap.servlets.MyfirstServlet</servlet-class>
      <init-param>
         <param-name>batch-name</param-name>
         <param-value>UST_Global</param-value>    
      </init-param>
  </servlet>
  <servlet-mapping>
          <servlet-name>firstServlet</servlet-name>
          <url-pattern>/first</url-pattern>
  </servlet-mapping>
  
   <servlet>
      <servlet-name>formServlet</servlet-name>
      <servlet-class>com.ustglobal.webap.servlets.formservlet</servlet-class>
       <init-param>
         <param-name>batch-name</param-name>
         <param-value>USTP</param-value>    
      </init-param>
      
  </servlet>
  <servlet-mapping>
          <servlet-name>formServlet</servlet-name>
          <url-pattern>/form</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>redirect</servlet-name>
  <servlet-class>com.ustglobal.webap.servlets.RedirectServlet</servlet-class> 
  </servlet>
  
    <servlet-mapping>
          <servlet-name>redirect</servlet-name>
          <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>forword</servlet-name>
  <servlet-class>com.ustglobal.webap.servlets.ForwordServlet</servlet-class>        
  </servlet>
  
    <servlet-mapping>
          <servlet-name>forword</servlet-name>
          <url-pattern>/forword</url-pattern>
     </servlet-mapping>
  
  
  
     <servlet>
  <servlet-name>include</servlet-name>
  <servlet-class> com.ustglobal.webap.servlets.IncludeServlet    </servlet-class>        
  </servlet>
  
    <servlet-mapping>
          <servlet-name>include</servlet-name>
          <url-pattern>/include</url-pattern>
    </servlet-mapping>
  
  <servlet>
  <servlet-name>formforword</servlet-name>
  <servlet-class>com.ustglobal.webap.servlets.FormForwardServlet  </servlet-class>        
  </servlet>
  
    <servlet-mapping>
          <servlet-name>formforword</servlet-name>
          <url-pattern>/form-forword</url-pattern>
    </servlet-mapping>
    
    
      
  <servlet>
  <servlet-name>createcookie</servlet-name>
  <servlet-class>com.ustglobal.webap.servlets.CreateCookieServlet</servlet-class>        
  </servlet>
  
    <servlet-mapping>
          <servlet-name>createcookie</servlet-name>
          <url-pattern>/create-cookie</url-pattern>
    </servlet-mapping>
    
   
  <servlet>
  <servlet-name>readcookie</servlet-name>
  <servlet-class> com.ustglobal.webap.servlets.ReadCookieServlet</servlet-class>        
  </servlet>
  
    <servlet-mapping>
          <servlet-name>readcookie</servlet-name>
          <url-pattern>/read-cookie</url-pattern>
    </servlet-mapping>
  
    <servlet>
  <servlet-name>GetEmpServlet</servlet-name>
  <servlet-class> com.ustglobal.webap.servlets.GetEmployeServlet</servlet-class>        
  </servlet>
  
    <servlet-mapping>
          <servlet-name>GetEmpServlet</servlet-name>
          <url-pattern>/Get</url-pattern>
    </servlet-mapping>
  
    <servlet>
  <servlet-name>contextAttribute</servlet-name>
  <servlet-class>com.ustglobal.webap.servlets.SetContextAttributeServlet</servlet-class>        
  </servlet>
  
    <servlet-mapping>
          <servlet-name>contextAttribute</servlet-name>
          <url-pattern>/context-Attribute</url-pattern>
    </servlet-mapping>
    
    <servlet>
  <servlet-name>getcontextAttribute</servlet-name>
  <servlet-class>com.ustglobal.webap.servlets.GetContextAttributeServlet</servlet-class>        
  </servlet>
  
    <servlet-mapping>
          <servlet-name>getcontextAttribute</servlet-name>
          <url-pattern>/get-context</url-pattern>
    </servlet-mapping>
  
  
  
  
</web-app>


