    <form action="" id="gg" class="col-md-6 mt-4 offset-3"><br>
        <h4 class="text-center bg-dark text-white">Form4</h4>        <input type="text" name="" id="" placeholder="Product Name"><br><br>
        <input type="text" name="" id="" placeholder="Product Price"><br><br>
            <input type="text" name="" id="" placeholder="Product Drsciption"><br><br>
            <input type="text" name="" id="" placeholder="Product ImgUrl"><br><br>
            <button type="submit"  >Add Product</button><br><br>
    </form>