<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/help">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/property-binding">Property-Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/event-binding">Event-Binding</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/assignment">Assignment</a>
          </li> -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/twoway">Two-Way Binding</a>
        </li>
        <li class="nav-item float-right">
            <a class="nav-link" routerLink="/ngfor">Ng-for</a>
        </li>
        <li class="nav-item float-right">
            <a class="nav-link" routerLink="/ngswitch">Ng-switch</a>
        </li>
        <li class="nav-item float-right">
          <a class="nav-link" routerLink="/form1">Form1</a>
        </li>
        <li class="nav-item float-right">
          <a class="nav-link" routerLink="/form2">Form2</a>
        </li>
        <li class="nav-item float-right">
          <a class="nav-link" routerLink="/form3">Form3</a>
        </li>
        <li class="nav-item float-right">
          <a class="nav-link" routerLink="/form4">Form4</a>
        </li>
        <li class="nav-item float-right">
          <a class="nav-link" routerLink="/reactive">Reative Form</a>
        </li>
        <li class="nav-item float-right">
          <a class="nav-link" routerLink="/parent">Parent</a>
        </li>
        <li class="nav-item float-right">
            <a class="nav-link" routerLink="/comment-details">Comment Details</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerlink="/login">login</button> &nbsp;&nbsp;&nbsp;&nbsp; -->
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button> -->
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login">login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/register">register</a>
    </li>
    </ul>

      </form>
    </div>
  </nav>