<form action="" id="dd" class="col-md-6 mt-4 offset-3"><br>
        <h4 class="text-center bg-dark text-white">Form2</h4>
    <input type="text" name="" id="" placeholder="Candidate name"><br><br>
    <input type="text" name="" id="" placeholder="year of experience"><br><br>
    <label for="">Skills</label><br>
    <input type="radio" name="skills" value="Java">Java

    <input type="radio" name="skills" value="Angular">Angular
    <input type="radio" name="skills" value="SQL">SQL

    <input type="radio" name="skills" value="Springs">Springs
    <input type="text" name="" id="" placeholder="CCTC"><br><br>
    <input type="text" name="" id="" placeholder="ECTC"><br><br>
    <input type="text" name="" id="" placeholder="Ready to Relocate"><br><br>
    <button type="submit">schedule experience</button><br><br>
</form><br><br>
