


 <div class="from-group card card-body col-md-4 offset-4 mt-3">
    <input class="form-control mr-sm-2" type="search" placeholder="Search by Id" aria-label="Search">
 </div>
  
  <div style="background:gainsboro">
    <div class="card  text-black">
      <div class="card-img-overlay">
        <div class="container">
          <div class="row">
            <div class="col">
  
              <div class="container ">
                <table class="table table-bordered mt-2 table-hover " style="border-style: solid; border-width: 1px;">
                  <thead>
                    <tr class="text-center text-dark">
                      <th>Book ID</th>
                      <th>Book Name</th>
                      <th>Author</th>
                      <th>publisher</th>
                      <th>available</th>
                      <th>Request</th>
    
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor='let book of books'>
                      <td>{{book.book_id}}</td>
                      <td>{{book.name}}</td>
                      <td>{{book.author}}</td>
                      <td>{{book.publisher}}</td>
                      <td>{{book.available}}</td>
                    <td><button class="btn btn-danger" (click)="request(student)">Request</button></td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




