
<form action="" id="rr" class="col-md-6 mt-4 offset-3"><br>
        <h4 class="text-center bg-dark text-white">Form1</h4>

    <input type="text" name="text" id="text" placeholder="company name"><br><br>
    <select name="select" id="select"><br><br>
        <option value="0">Skills</option>
        <option value="1">Java</option>
        <option value="2">J2ee</option>
        <option value="3">SQL</option>
    </select><br><br>
    <input type="text" name="text" id="text" placeholder="year of experience"><br><br>
    <input type="text" name="name" id="name" placeholder="MCTC"><br><br>
    <input type="text" name="txt" id="txt" placeholder="Location"><br><br>
    <button type="submit">Add required</button><br><br>
    </form>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    