<div class="alert alert-danger" *ngIf='error'>{{error}}</div>

<form class="col-md-4 offset-4  mt-5 mb-5 bg-light card card-body" #form="ngForm" (ngSubmit)="submitData(form)">
    <h1 class="bg-dark text-light text-center">AddBook</h1>
   
    <div class="form-group">
        <input class="form-control" type="text" name="name" id="name" placeholder="Enter book name.." #title="ngModel" ngModel required>

    </div>
    <div *ngIf="title.touched && title.invalid">
        <p class="alert alert-danger" *ngIf="name.errors.required">This field is required</p>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="author" id="author" placeholder="Enter author.." #author="ngModel" ngModel required>

    </div>
    <div *ngIf="author.touched && author.invalid">
        <p class="alert alert-danger" *ngIf="email.errors.required">This field is requied</p>
   </div>
   <!-- <div class="form-group">
       <input class="form-control" type="text" name="cover" id="cover" placeholder="Enter cover.." #cover="ngModel" ngModel required>

   </div> -->
 
   <div class="form-group">
       <input class="form-control" type="text" name="publisher" id="publisher" placeholder="Enter publisher .." #publisher="ngModel" ngModel  required>

   </div>
   <div *ngIf="publisher.touched && publisher.invalid">
       <p class="alert alert-danger" *ngIf="publisher.errors.requied">This field is required</p>

   </div>

      <!-- <div class="form-group" >
          <input class="form-control" type="text" name="pages" id="pages" placeholder="Enter pages.." #pages="ngModel" ngModel required>

      </div> -->
      <!-- <div *ngIf="pages.touched && pages.invalid">
          <p class="alert alert-danger" *ngIf="role.errors.requied">This field is required</p>
      </div> -->
      
      <div class="form-group" >
        <input class="form-control" type="number" name="available" id="available" placeholder="Enter available.." #available="ngModel" ngModel required>

    </div>
    <div *ngIf="available.touched && available.invalid">
        <p class="alert alert-danger" *ngIf="role.errors.requied">This field is required</p>
    </div>
   


    <div>
        <button type="submit" class="btn btn-danger float-right" [disabled]="form.invalid">submit</button>
    </div>
 
        
</form>



