<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
     
   <bean id="hellol" class="com.ustgobal.springcore.di.Hello" init-method="init" destroy-method="destroy" >
   
   <property name ="msg" value="I Love Aai baba"/>
   <property name="map">
        <map>
            <entry key ="one" value="1"/>
            <entry key="two" value="2"/>
        </map>
   
   </property>
  
   </bean>
   
   
   
   
   <bean id="dog" class="com.ustgobal.springcore.di.Dog"></bean>
   <bean id="human" class="com.ustgobal.springcore.di.Dog" primary="true"></bean>
   <bean id="animal" class="com.ustgobal.springcore.di.Cat"></bean>
   
   <bean id="pet" class="com.ustgobal.springcore.di.Pet" autowire="byName">
   

  <property name="name" value="raja"/> 
  
 <!--   <property name="animal" ref="dog"/> -->

<!--    <constructor-arg name ="name" value="Rakha"></constructor-arg>
 --><!--  <constructor-arg name ="animal" ref="dog"></constructor-arg> -->   
    
       </bean>
       
       <bean id="beanpostprocesser" class="com.ustgobal.springcore.di.BeanPostProcesserClass"/>
        <bean id="beanFactoryPostProcesser" class="com.ustgobal.springcore.di.BeanFactoryPostProcesserClass"></bean>
        
       
        
</beans> 
