<form action="" id="ff" class="col-md-6 mt-4 offset-3"><br>
        <h4 class="text-center bg-dark text-white">Form3</h4>
    <input type="text" name="" id="" placeholder="User name"><br><br>
    <input type="text" name="" id="" placeholder="UserPage"><br><br>
    <label for="">Gender</label><br>
    <input type="radio" name="Gender" value="Male" >Male
    <input type="radio" name="Gender" value="Female">Female
    <input type="radio" name="Gender" value="Others">Others<br><br>
    <input type="text" name="" id="" placeholder="User Email"><br><br>
    <input type="text" name="" id="" placeholder="Password"><br><br>
    <input type="text" name="" id="" placeholder="Retype password"><br><br>
    <button type="submit" >Add User</button><br><br>


</form>